body{
    margin: 0;
    padding: 0;
}

/*  navbar arka pilanını kırmız yapmak için */
.navbar-kirmizi-renk{
    background-color: #d31b2a !important; 
    

}

/* navbar içerisindeki linkleri beyaz yapmka için  */
.container ul li a{
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

.form-kisim{
    margin-top: 20px;
    margin-bottom: 30px;
    
}

/*  card konumunu ayarlamak için */
.col-6{
    margin-left: 25%;
}

/*  buttonun konumu için */
.button{
    text-align: center;
    margin-bottom: 20px;
}

/*  card ların kenaralrı için kulanıldı */
.col{
    border-radius: 10px;
}

@media screen {
    
}

